<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnjoyYourMeal"
        tools:targetApi="31" >
        <activity

            android:name=".ModifierListeDeCourse"
            android:exported="false" />
        <activity
            android:name=".AfficherListeDeCourse"
            android:exported="false" />
        <activity
            android:name=".controleur.MainActivity"
            android:exported="true">

            android:name=".controleur.FrigoActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.EtapeFinaleActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.EtapePrepaActivity"
            android:exported="false" />
          <activity
            android:name=".controleur.MesRecetteActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.CreerRecetteActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.ConnexionActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.InscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
